
body {
    margin: 0;
}
h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;

}

nav ul {
    display: flex;

}

nav ul li {
    padding-left:  20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}
.Ms{
    
    height: 20px;
    width: 20px; 
}

.notification {
    height: 25px;
    background: blue;
    color: white;
    text-align: center;
}

.hero {
    height: 500px;
    background: white;
    display: flex;
}

.subhero{
   margin: 70px;
   
   width: 63%;
   border: 3px;
   padding: 50px;
}
.image{
    height: 300px;
    justify-content: flex-end;
    
}   

.products {
    background: white;
    display: flex;
    justify-content: center;
}

.products div {
    height: 200px;
    padding-top: 30px;
}



.examples{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    height: 200px;

}
.example{
    height: 150px;
    
}
button{
    color: aliceblue;
    background-color: black;
}